<h1>Firearm Emoji Censorship</h1>
<p><a href="https://blog.emojipedia.org/apple-and-the-gun-emoji/">https://blog.emojipedia.org/apple-and-the-gun-emoji/</a></p>
<p>Reclaim the Apple-censored pistol emoji with pure CSS.</p>
<p><span>🔫</span> (default)</p>
<p><span class="black-guns-matter">🔫</span> .black-guns-matter</p>
<p><span class="tacticool">🔫</span> .tacticool</p>
<p><span class="gadsden">🔫</span> .gadsden</p>
<p><span class="molon-labe">🔫</span> .molon-labe</p>
<p><span class="IIa">🔫</span> .IIa</p>
<p><span class="repeal-the-NFA">🔫</span> .repeal-the-NFA</p>
<p><span class="boogaloo">🔫</span> .boogaloo</p>

<style>
  body { columns: 2; }
  span { font-size: 72pt; vertical-align: middle; line-height: 1; }
  .black-guns-matter { filter: grayscale() brightness(.5); }
  .tacticool { filter: sepia(100%); position: relative; }
  .tacticool::before { content: '🔦'; transform: scale(.5) translate(-.6em, -.1em) rotate(45deg); position: absolute; }
  .gadsden { background: yellow; position: relative; }
  .gadsden::before{ content: '🐍'; position: absolute; }
  .molon-labe { filter: grayscale() brightness(0); position: relative; }
  .molon-labe::before { content: '★'; position: absolute; transform: translate(-25%, 15%) scale(.5); }
  .IIa { position: relative; }
  .IIa::after { content: '🇺🇸'; position: absolute; left: 0; top: 0; z-index: -1; transform: scale(1.1776); }
  .repeal-the-NFA { filter: grayscale() brightness(.5); position: relative; padding-left: .75em; }
  .repeal-the-NFA::before { content: '🛢'; transform: rotate(90deg) translate(-25%, 12.5%) scale(.4, .8) translate(0, 1em); position: absolute; }
  .boogaloo { animation: boogaloo 1s infinite linear; filter: sepia() saturate(500%) hue-rotate(360deg); }
  @keyframes boogaloo { from { filter: sepia() saturate(500%) hue-rotate(0); } }
</style>
